{%extends 'store/pagina_base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {%block cuerpo%}

    <form method="POST" class="form-signin" action="/cambio_contrasena">
      <div class="row justify-content-center"> 
        {% csrf_token %}

        <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Ingrese usuario">
        <br>
        <input type="text" class="form-control" name="email" id="email" placeholder="Ingrese Email">
        <br>
        <br>
        <button type="submit" class="btn btn-dark" id="btnAceptar" style="width:60%;margin-bottom: 10px">Recuperar</button>
    
      </div>
      
    </form>

    {%endblock%}

</body>

</html>