{%extends 'store/pagina_base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilo.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/css/mdb.min.css" rel="stylesheet">

    <title>Contacto</title>
</head>

<body>

    <div class="container">
       
        {%block cuerpo%}
        <div class="row">
            <br>
            <br>

            <div class="col-sm-6">
                <div class="card">
                    

                    <div class="card-body">
                       
                        <br>
                        <br>
                        <br>
                        <h3 class="card-title">Datos de Contacto</h3>
                        <p class="card-text" style="font-size: 20px;"><i class="fab fa-whatsapp"></i> +56955623412</p>
                        <p class="card-text" style="font-size: 20px;"><i class="fas fa-phone-volume"></i> +56226553411</p>
                        <p class="card-text" style="font-size: 20px;"><i class="fab fa-facebook-f pr-1"></i> Arturito's Store</p>
                        <p class="card-text" style="font-size: 20px;"><i class="fas fa-envelope"></i> ArturitosStore@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Nuestra ubicación</h3>
                        <p class="card-text" style="font-size: 20px;"><i class="fas fa-map-marker-alt"></i> Padre Alonso de Ovalle 1586, Santiago, RM</p>
                        <p class="card-text" style="font-size: 20px;"><i class="far fa-calendar-alt"></i> De Lunes a Sabado. Desde las 10:00 hasta las 20:00</p>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Conócenos</h3>
                <p class="card-text" style="font-size: 20px;">
                    </i> Arturito's Store es una tienda de articulos Apple, la cual se origina por la amplia gama de consumidores de la marca. Ofrecemos gran variedad de articulos y altos estándares de calidad a precios accesibles para todos nuestros clientes.
                    Contamos con personal calificado para ofrecer un excelente asesoramiento en nuestro local. Los niveles de crecimiento obtenidos a la fecha, son el resultado de una efectiva relación con nuestros clientes, buscando ofrecerles siempre
                    lo mejor. De esta manera, Arturito's Store se ha posicionado como una tienda de confianza entre nuestros usuarios.</p>
            </div>
        </div>
        <br>
        <section class="footer fixed-bottom ">
            <div class="contacto-footer justify-content-center text-align-center">
                <p class="text-white ">Copyright © Todos los Derechos Reservados</p>
            </div>
        </section>
        

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js "></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
    <!-- JQuery -->
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js "></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js "></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js "></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js "></script>

    {%endblock%}

</body>

</html>