{%extends 'store/pagina_base.html'%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Editar Productos</title>
    
</head>
<body>
    {%block cuerpo%}
    <div class="row justify-content-center" >
        <h1>Editar Producto</h1>
        <br>
        <br>
        <br>
    </div>
    <div class="row justify-content-center" >
            
        <form method="POST">
            {{ form}}
            {% csrf_token %}
            <button class="btn btn-dark" type="submit">Editar</button>
        </form>
       
    </div>
    
    {%endblock%}
</body>
</html>