{%extends 'store/pagina_base.html'%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Inicio Arturito's Store</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/shop-homepage.css' %}">
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  
</head>

<body>

 {%block cuerpo%}
  <!-- Page Content -->
  <div class="container">
    
    <div class="row justify-content-center">
      <!-- /.col-lg-3 -->
      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <a href="registrarse"><img class="d-block img-fluid center" src="{% static 'img/airpods.png' %}"
                  alt="First slide" style="height: 480px; width:480px"></a>
            </div>
            <div class="carousel-item">
              <a href="registrarse"><img class="d-block img-fluid center" src="{% static 'img/adaptador-usb-2.jpeg' %} "
                  alt="Second slide" style="height: 480px; width:480px"></a>

            </div>
            <div class="carousel-item">
              <a href="registrarse"><img class="d-block img-fluid center" src="{% static 'img/adaptador-usb.jpeg' %} "
                  alt="Third slide" style="height: 480px; width:480px"></a>
            </div>
            <div class="carousel-item">
              <a href="registrarse"><img class="d-block img-fluid center" src="{% static 'img/keyboard.jpg' %} "
                  alt="Four slide" style="height: 480px; width:480px"></a>
            </div>
            <div class="carousel-item">
              <a href="registrarse"><img class="d-block img-fluid center" src="{% static 'img/cargador.png' %} "
                  alt="Fifth slide" style="height: 480px; width:480px"></a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{% static 'img/airpods.png' %} " alt=""
                  style="width: 240px; height:240px"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Audífonos Bluetooth Apple AirPods con estuche de carga inalámbrica</a>
                </h4>
                <h5>$169.990</h5>
                <p class="card-text"> Apple
                  Modelo MRXJ2BE/A
                  Intrauriculares
                  Peso 46 g
                  Resistente al agua No
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{% static 'img/cargador.png' %} " alt=""
                  style="width: 240px; height:240px"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Cargador Apple USB-C de 61 W</a>
                </h4>
                <h5>$49.990</h5>
                <p class="card-text">Apple
                  Modelo MRW22ZM/A
                  Tipo Cargadores básicos
                  Compatibilidad Apple
                  Conexión USB-C
                  Contenido Unitario
                  Garantía del proveedor 12 meses.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{% static 'img/adaptador-usb-2.jpeg' %} " alt=""
                  style="width: 240px; height:240px"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Adaptador Lightning a 30 pin</a>
                </h4>
                <h5>$24.990</h5>
                <p class="card-text">Adaptadores
                  Material Plástico
                  Compatibilidad Apple
                  Conexión Portable
                  Contenido Unitario
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{% static 'img/adaptador-usb.jpeg' %} " alt=""
                  style="width: 240px; height:240px"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Adaptador Lightning a 30 Pin de 20 Cm</a>
                </h4>
                <h5>$39.990</h5>
                <p class="card-text">Adaptadores
                  Material Plástico
                  Compatibilidad Apple
                  Conexión Portable
                  Contenido Unitario
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{% static 'img/keyboard.jpg' %} " alt=""
                  style="width: 240px; height:240px"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Magic Keyboard</a>
                </h4>
                <h5>$79.990</h5>
                <p class="card-text">Apple
                  Modelo MLA22E/A
                  Teclados
                  Alto 1,09 cm
                  Ancho 27,9 cm
                  Profundidad 11,49 cm
                  Peso 231 g

                  Conexión Bluetooth.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{% static 'img/mouse.png' %} " alt=""
                  style="width: 240px; height:240px"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Magic Mouse 2 Plata</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-1 text-center text-white">Arturito's Store / Cualquier consulta a nuestras redes de contacto</p>
      <p class="m-1 text-center text-white">Registrate para obtener descuentos en todas las compras
        realizadas de manera online</p>
      <p class="m-1 text-center text-white"><a href="registrarse">Registrarse</a></p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

 {%endblock%}  
</body>

</html>