{%extends 'store/pagina_base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Producto Form</title>
</head>
<body>
    {%block cuerpo%}
    <div class="row justify-content-center" >
        <h1>Agregar Producto</h1>
        <br>
        <br>
        <br>
    </div>
    <div class="row justify-content-center">
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <button class="btn btn-dark"type="submit">Guardar</button>        
        </form>
    </div>
    {%endblock%}
</body>
</html>