{%extends 'store/pagina_base.html'%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Document</title>
</head>

<body>
    {%block cuerpo%}
    <h1>Lista de Productos</h1>

    <table class="table table-bordered" style="width:95%" align="center">
        <thead style="background-color: rgb(173, 173, 173);">
            <tr>
                <th style="text-align:center"> ID Producto</th>
                <th style="text-align:center"> Nombre Producto</th>
                <th style="text-align:center"> Stock</th>
                <th style="text-align:center"> Editar </th>
                <th style="text-align:center"> Borrar</th>
            </tr>
        </thead>
        <tbody>
            {% if productos %}
            {% for c in productos %}
            <tr>
                <td> #{{ c.idproducto }} </td>
                <td> {{ c.nombre }} </td>
                <td> {{ c.stock }} </td>
                <td style="text-align:center"> <a href="/editar_producto/{{ c.idproducto }}"> ✎</a></td>
                <td style="text-align:center"><a href="/borrar_producto/{{ c.idproducto }}" onclick="return confirm('¿Esta seguro de borrar?');">
                    ✘</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {%endblock%}
</body>

</html>
