{%extends 'store/pagina_base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
  <meta charset="UTF-8">
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>arturitoStore</title>
</head>

<body>

  {%block cuerpo%}
  <br>
  <br>
  <br>
  <div class="row justify-content-center">

    <div class="col-md-4 ">
      <div class="row justify-content-center">
        <H1>Inicio de Sesión</H1>
      </div>


      <form method="POST" class="form-signin" action="/login/iniciar">
        
          {% csrf_token %}
          <div class="form-row">
            <div class="col">
              <label for="inputRut">Rut</label>
              <input type="text" id="rut" name="rut" class="form-control tamaño_formulario" placeholder=" Ingrese Rut"
                onKeyPress="return soloNumeros(event)" onKeyDown="maximo(this,9)">

            </div>
          </div>
          <br>
          <div class="form-row">
            <div class="col">
              <label for="inputPassword">Contraseña</label>
              <input type="password" name="contrasena" id="contrasena" class="form-control tamaño_formulario"
                placeholder="Ingrese Contraseña" required>
            </div>
          </div>
          <br>
          <button class="btn btn-dark" style="width:100%;margin-bottom: 10px" type="submit">Iniciar Sesión</button>

    </div>
  </div>
  </br>

  <p class="m-1 text-center text-white"><a href="cambiar_contrasenia">Recuperar contraseña</a></p>
  <script src="{% static 'js/validarRut.js' %}"></script>

  <script src="{% static 'js/validador.js' %}"></script>
  </form>
  {%endblock%}
</body>

</html>