{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

       <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <!-- Custom styles for this template -->
   <link rel="stylesheet" href="/app/arturitostore/static/css/estilo.css">

   <link rel="stylesheet" href="{% static 'css/shop-homepage.css' %}">
   <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>

<body>
  <div class="row justify-content-center">

    <H1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Restaurar contraseña</H1>

  </div>

  
  <form method="POST" class="form-signin" action="/nueva_contrasena/{{ user.username }}">
    {% csrf_token %}

    <input type="password" class="form-control tamaño_formulario" style="width: 80%;"placeholder="Ingrese Contraseña"
          name="contrasena" required>
    <br>
    <br>
    <input type="password" class="form-control tamaño_formulario" style="width: 80%;"placeholder="Ingrese Contraseña nuevamente" name="confirmacion" required>
    <br>
    <br>
    <button type="submit" class="btn btn-dark" id="btnAceptar" style="width:60%;margin-bottom: 10px">Recuperar contraseña</button>

  </form>

</body>

</html>