{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inicio Arturito's Store</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/app/arturitostore/static/css/estilo.css">

    <link rel="stylesheet" href="{% static 'css/shop-homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">


</head>

<body>

    <header>
        <!-- Barra superior -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <img src="{% static 'icons/apple.svg' %}" alt="" id="icono-apple" style="height:70px; width:70px">

            <h1 class="navbar-brand" id="titulo-inicio">Arturito's Store </h1>
            {% if user.is_authenticated %}
            <h1 class="navbar-brand" id="titulo_bienvenida"> Bienvenido {{user.first_name}} </h1>
            {% if user.is_superuser%}
            <li class="nav-item">
                    <a class="nav-link" style="color:red; padding: 0px 0px 26px 470px;" href="/admin">Django Admin</a>
            </li>
            {% endif %}

            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacto">Contacto</a>
                    </li>
                    {% if user.is_authenticated %}
                    {% if user.is_superuser%}

                    <li class="nav-item">
                        <a class="nav-link" href="/listar_productos_full">Editar Productos</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/agregarProducto">Agregar Producto</a>
                        </li>
                    {% endif %}


                    <li class="nav-item">
                        <a class="nav-link" href="/cerrarsesion">Cerrar Sesion</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Ingresar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registrarse">Registrarse</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </nav>
    </header>
    <br>
    <br>
    <br>

    <div style="padding-top: 40px; ">
        {%block cuerpo%}
        {% endblock %}
    </div>

   
    <script src="{% static 'js/validarRut.js' %}"></script>

    <script src="{% static 'js/validador.js' %}"></script>
    <script src="{% static 'js/RegionesYComunas.js' %}"></script>

</body>

</html>