{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Css-->
    <link rel="stylesheet" href="{% static 'css/shop-homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Validate-->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>

    <script>
        // Solo permite ingresar numeros.
        function soloNumeros(e) {
            var key = window.Event ? e.which : e.keyCode
            return (key >= 48 && key <= 57)
        }
    </script>


    <script>
        // limita la cantidad de caracteres (para el rut)
        function maximo(campo, limite) {
            if (campo.value.length >= limite) {
                campo.value = campo.value.substring(0, limite);
            }
        }
    </script>

    <script>
        // solo permite ingresar letras 
        function soloLetras(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
            especiales = "8-37-39-46";

            tecla_especial = false
            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }

            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
            }
        }
    </script>

    <title>formulario</title>
</head>

<body>
    <div class="container">
        <!-- Barra superior -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <img src="{% static 'icons/apple.svg' %}" alt="" id="icono-apple" style="height:70px; width:70px">

            <h1 class="navbar-brand" id="titulo-inicio">Arturito's Store </h1>
            {% if user.is_authenticated %}
            <h1 class="navbar-brand" id="titulo_bienvenida"> Bienvenido {{user.first_name}} </h1>

            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto">Contacto</a>
                    </li>
                    {% if user.is_authenticated %}

                    {% if user.is_superuser%}
                    <li class="nav-item">
                        <a class="nav-link" href="/listar_productos_full">Editar Productos</a>
                    </li>
                    {% endif %}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/cerrarsesion">Cerrar Sesion</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Ingresar</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </nav>
        </header>
        <br>
        <br>

        <section>

            <br>

            <form action="/crear_cliente" method="POST" id="formulario">
                <div class="row justify-content-center">
                        <h1 id="titulo-formulario">Registro de nuevo usuario</h1>
                        {% csrf_token %}
                        <h6 id="aun-no-registrado"> Aun no esta registrado, esto no tomara mucho tiempo, registrese y obtenga
                            descuentos increibles en su proxima compra</h6>
                        <!--rut-->
        
                        <input type="text" class="form-control" name="rut" id="rut" placeholder="Rut Chileno"
                            oninput="checkRut(this)" onKeyPress="return soloNumeros(event)" onKeyDown="maximo(this,9)">
                        <br>
        
        
                        <!--Contraseña-->
                        <input type="password" class="form-control tamaño_formulario" placeholder="Ingrese Contraseña"
                            name="contrasenia" required>
                        <br>
                        <input type="password" class="form-control tamaño_formulario"
                            placeholder="Ingrese Contraseña nuevamente" name="confirmacion" required>
                        <br>
                        <!--Nombre-->
                        <input type="text" class="form-control" name="nombre" id="txtNombre" placeholder="nombre"
                            onkeypress="return soloLetras(event)">
                        <br>
                        <!--email-->
        
        
                        <input type="email" class="form-control" name="email" id="txtEmail" placeholder="Correo Electronico">
                        <br>
                        <!--Telefono-->
        
                        <input type="tel" Class="form-control" name="telefono" id="txtPhone" placeholder="Telefono"
                            onKeyPress="return soloNumeros(event)" onKeyDown="maximo(this,9)">
                        <br>
                        <!--Regiones-->
                        <select Class="form-control" name="region" id="regiones"></select>
                        <br>
                        <!--Comunas-->
                        <select Class="form-control" name="comuna" id="comunas"></select>
                        <br>
                        <!--Calle-->
        
                        <input type="text" class="form-control" name="calle" id="txtCalle" placeholder="Calle">
        
                        <br>
        
                        
                        <button type="submit" class="btn btn-dark" id="btnAceptar" style="width:60%;margin-bottom: 10px">Registrarse</button>
                        
                </div>
            </form>


        </section>


        <section class="footer">
            <br>
            <div class="contacto" id="descripcion">
                <h5>Recuerde que sus datos personales no seran dibulgados, seran utilizados exclusivamente para
                    entregarle un mejor servicio de compra</h5>

                <h6>Recuerde que para reclamos y sugerencias puede contactarse con nosotros en CONTACTO</h6>
            </div>
        </section>


    </div>

    <!--Script-->
    <script src="{% static 'js/validarRut.js' %}"></script>

    <script src="{% static 'js/validador.js' %}"></script>
    <script src="{% static 'js/RegionesYComunas.js' %}"></script>


</body>

</html>