#coloreando{
    background-color: red;
}

#titulo-inicio{
    padding: 5px 0px 5px 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: coral;
}
#icono-apple{
    padding: 5px 10px 5px 10px;
    height: 100px;
    width: 100px;
}
#titulo_bienvenida{
    color: red;
}

.formulario form label  {
   padding: 3px 1px 1px 6px;
}

.form-control{
    width: 80%;
    margin-left: 80px;
}

.datos-contacto{  
    background-color: rgb(24, 27, 31);
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;   
    font-weight: bold;
}

.contenedor-datos-contacto{
    background-color: aliceblue;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    display: flex;
}


.sector-iz{
    width: 48%;
    height: auto;
    text-align: left;
    /*background-color: rgb(142, 142, 240)*/
}

.sector-de{
    width: 48%;
    height: auto;
    text-align: left;
    /*background-color: rgb(245, 158, 158);*/
    
}

.numero-contacto-w{
    margin: 15px;
    display: flex;
}
.numero-contacto-t{
    margin: 15px;
    display: flex;
}
.facebook-contacto{
    margin: 15px;
    display: flex;
}
.correo-contacto{
    margin: 15px;
    display: flex;
}
.location-contacto{
    margin: 15px;
    display: flex;
}
.horario-contacto{
    margin: 15px;
    display: flex;
}

#Whatsapp-contacto{
    padding: 30px;
}
#telefono-contacto{
    padding: 30px;
}

#facebook-contacto{
    padding: 30px;
    
}
#gmail-contacto{
    padding: 30px;
}
#local-contacto{
    padding: 30px;
}
#horario-contacto{
    padding: 30px;
    
}

#titulo-conocenos, #titulo-contacto{
    font-weight: bold;
    color: white;
}

.contacto-footer{
    background-color: rgb(24, 27, 31);
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    display: flex;
    width: 100%;
    
}
.descripcion{
    background-color: aliceblue;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    display: flex;
    width: 100%;
    text-align: justify;
    padding: 5px;
    
}

#formulario1{
    padding: 80px 100px 0px 0px;
}

.cuerpo-titulo-inicio{
    background-color: rgb(247, 97, 97);
}
#cuerpo-contacto{
    padding: 200px 0px 0px 0px;
}
#titulo-formulario{
    padding: 50px 100px 40px 75px;
    color: rgb(0, 0, 0);
 
    
}
.carousel-indicators li {
    display: inline-block;
    width: 48px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    background-color: #c6c6fc;    
}
.carousel-indicators .active {
    width: 48px;
    height: 10px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.562);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 50%, 50%;
    border-radius: 20%;
    border: 1px solid black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



.form-control{
    
    border-radius: 5%;
    outline: black;
}
#descripcion{
    color:rgb(0, 0, 0);
    padding: 10px 80px;
    
    
}
#rut-error , #txtNombre-error,#txtEmail-error,#txtNacimiento-error{
    padding: 5px 5px 5px 85px;
}

#aun-no-registrado{
    padding: 5px 100px 13px 80px;
    color:rgb(0, 0, 0);
}

.contenido{
background-color: blue;
}